<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>  
    </head>
    <body>    
        <h1>{{ title }}</h1>    
        <ul>
            {% for person in people %}
                <li>{{ person.name }} age {{ person.age }}</li>
            {% endfor %}
        </ul>    
    </body>
</html