<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}WPO Monitor{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block css %}
    <!-- Loading Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat-ui.css" rel="stylesheet">
    {% endblock %}

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    {% endblock %}
  </head>
  <body>
    <div class="header">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">WPO Monitor</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active">
                  <a href="/profile">Profiles</a>
                </li>
                <li><a href="/api">API</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
</div>

    <section class="container">
        <div class="row">
            <div class="span12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span7">
            <h3 class="footer-title">Performance Client-side Monitor for  Web Apps</h3>
            <p>
              The idea of the tool is to create a way of monitoring
              indicators on the performance of a web page. Integrating these
              indicators more easily, and enhance understanding of these
              criteria for the entire development team. allowing
              ability to manage the history of changes in these indicators
              during the development cycle of the application. The main
              indicators will be time page load, page size,
              and the related degrees tools:
              <a href="https://developers.google.com/speed/pagespeed/">pagespeed</a>.
            </p>
          </div> <!-- /span8 -->

          <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">Built with</h3>
              <ul>
                <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
                <li><a href="http://nodejs.org/">Node.js</a></li>
                <li><a href="http://expressjs.com/">Express</a></li>
                <li><a href="http://www.mongodb.org/">MongoDB</a></li>
                <li><a href="http://designmodo.github.io/Flat-UI/">FlatUI</a></li>
                <li>The source code for this application is available in <a href="#">this repository</a> on GitHub.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    {% block js %}
    <!-- Load JS here for greater good =============================-->
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script src="/js/flatui-checkbox.js"></script>
    <script src="/js/flatui-radio.js"></script>
    <script src="/js/jquery.tagsinput.js"></script>
    <script src="/js/jquery.placeholder.js"></script>
    <script src="/js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="/js/application.js"></script>
    {% endblock %}
  </body>
</html>